npm-debug.log
build/
.DS_Store
.settings/
.idea/
*.log
*.heapsnapshot
*.sock
.coverrun
.coverdata
dump.rdb
xunit.xml
mocha-xunit.xml

logs/*
reports/*
tmp/*

benchmark/
examples/
test/
.istanbul.yml
.travis.yml
Makefile
TODO
